#particles-js{
    background: url(imagenes/f3.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    width: 100%;
}
.ancho-letras{
    top: 40px;
    position: absolute;
    width: 35%;
    /*background: rgba(20, 20, 20, .5);*/
    text-align: center;
    z-index: 1px;
}
.letras-slider{
    width: 80%;
    margin:auto;
}
.letras-slider h2{
    font-family: rale;
}
.ancho-letras img{
    margin-left: 70px;
}
.ancho-letras2{
    top: 315px;
    position: absolute;
    width: 70%;
    background: rgba(20, 20, 20, .5);
    text-align: center;
}
.ancho-letras3{
    top: 58px;
    left: 450px;
    right: 20px;
    position: absolute;
    width: 190%;
    background: rgba(20, 20, 20, .5);
    text-align: left;
}
.ancho-letras4{
    top: 320px;
    left: 450px;
    right: 20px;
    position: absolute;
    width: 190%;
    background: rgba(20, 20, 20, .5);
    text-align: left;
}
.ancho-letras5{
    top: 495px;
    left: 450px;
    right: 20px;
    position: absolute;
    width: 190%;
    background: rgba(20, 20, 20, .5);
    text-align: center;
}
.ancho-letras6{
    top: 68px;
    color: rgb(210, 232, 224);
    left: 20px;
    right: 20px;
    font-family: rale;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    width: 95%;
    background: rgba(20, 20, 20, .5);
    text-align: left;
    z-index: 3px;
}
.ancho-letras7{
    top: 530px;
    color: rgb(210, 232, 224);
    left: 120px;
    right: 20px;
    font-family: rale;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    width: 40%;
    background: rgba(20, 20, 20, .5);
    text-align: center;
    z-index: 3px;
}
.ancho-letras7 h1 a{
    color: red;
}
.ancho-letras3 h1 a{
    color: red;
}
.ancho-letras4 h1 a{
    color: red;
}
.ancho-letras h1:hover{
    color:blue;
}
.ancho-letras2 h1:hover{
    color:blue;
}
.ancho-letras3 h1 a:hover{
    color:blue;
}
.ancho-letras4 h1 a:hover{
    color:blue;
}
.ancho-letras5 h1:hover{
    color:blue;
}
.ancho-letras6 h1:hover{
    color:blue;
}
.ancho-letras7 h1 a:hover{
    color:blue;
}