*{
    margin: 0;
    padding: 0;
}
body{
    /*background-image: url("IMAGENES/fondo.jpeg");*/
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#particles-js{
    background: rgb(237, 105, 17);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: soft-light;
    width: 100%;
}
header{
    width: 100%;
    background: white;
    height: 80px;
    position: fixed;
}
.pie{
    width: 100%;
    background: rgb(237, 105, 17, 0.8);
    height: 80px;
    margin: auto;
    font-family: rale;
    font-weight: bold;
    padding-left: 25%;
}
.bienvenido{
    padding-top: 90px;
    width: 100%;
    height: 120px;
    margin: auto;
    letter-spacing: 1px;
    font-family: alfa;    
}
.bienvenido p{
    color: white;
    -webkit-text-stroke: 1px  rgb(237, 105, 17);
    font-size: 90px;
    font-weight: bold;
    font-family: rae;
    padding-top: 0px;
    margin: auto;
    letter-spacing: 3px;
    }
.bienvenido h1{
        font-size: 40px;
        color: rgb(237, 105, 17);
        -webkit-text-stroke: 2px black;
        font-weight: bold;
        font-family: rae;
        margin: auto;
        padding-left: 0;
    }
.bienvenido2{
        padding-top: 90px;
        width: 100%;
        height: 120px;
        margin: auto;
        letter-spacing: 1px;
        font-family: alfa;    
    }
.bienvenido2 p{
        color: black;
        -webkit-text-stroke: 2px rgb(237, 105, 17);
        font-size: 90px;
        font-weight: bold;
        font-family: rae;
        padding-top: 0px;
        margin: auto;
        letter-spacing: 3px;
        padding-left: 10%;
        }
.bienvenido2 h1{
            font-size: 40px;
            color: rgb(237, 105, 17);
            -webkit-text-stroke: 2px  rgb(11, 11, 11);
            font-weight: bold;
            font-family: rale;
            margin: auto;
            padding-left: 5%;
        }
.bienvenido3{
            padding-top: 90px;
            width: 100%;
            height: 80px;
            margin: auto;
            letter-spacing: 1px;
            font-family: alfa;    
        }
.bienvenido3 p{
            color: black;
            -webkit-text-stroke: 2px rgb(237, 105, 17);
            font-size: 70px;
            font-weight: bold;
            font-family: rae;
            padding-top: 0px;
            margin: auto;
            letter-spacing: 3px;
            padding-left: 5%;
            }
.ancho{
    width: 80%;
    height: 80px;
    /*background: red;*/
    margin: auto;
}
.logo{
    width: 24%;
    height: 80px;
    float: left;
    padding: 1px 1px;
    box-sizing: border-box;
    /*background: blue;*/
    padding-top: 2px;
}
.logo img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
nav{
    width: 66%;
    height: 80px;
    float: left;
    text-align: right;
    padding-top: 30px;
    display: flex;
}
.wha{
    width: 10%;
    float: left;
    text-align: right;
    padding-top: 4px;
    display: flex;
}
.logo p a{
color: black;
font-size: 40px;
text-decoration: none;
font-weight: bold;
font-family: rae;
letter-spacing: 1px;
padding-top: 0px;
margin-bottom: 0px;
margin-top: 0px;
}
.logo p{
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    font-family: rae;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 0px;
    margin: auto;
    }
.logo p a:hover{
    color: rgb(242, 106, 9);
}
nav ul li{
    display: inline;
}
nav ul li a{
    color:black;
    font-size: 16px;
    text-decoration: none;
    padding-left: 15px;
    letter-spacing: 1px;
    font-family: rae;
}
nav ul li a:hover{
    color: rgb(242, 106, 9);
}
.ancho-letras{
    top: 40px;
    position: absolute;
    width: 35%;
    /*background: rgba(20, 20, 20, .5);*/
    text-align: center;
    z-index: 1px;
}
.letras-slider{
    width: 80%;
    margin:auto;
}
.letras-slider h2{
    font-family: rale;
}
.ancho-letras img{
    margin-left: 80px;
}
.ancho-letras2{
    top: 315px;
    position: absolute;
    width: 70%;
    background: rgba(20, 20, 20, .5);
    text-align: center;
}
.ancho-letras3{
    top: 58px;
    left: 450px;
    right: 20px;
    position: absolute;
    width: 190%;
    background: rgba(20, 20, 20, .5);
    text-align: left;
}
.ancho-letras4{
    top: 320px;
    left: 450px;
    right: 20px;
    position: absolute;
    width: 190%;
    background: rgba(20, 20, 20, .5);
    text-align: left;
}
.ancho-letras5{
    top: 495px;
    left: 450px;
    right: 20px;
    position: absolute;
    width: 190%;
    background: rgba(20, 20, 20, .5);
    text-align: center;
}
.ancho-letras6{
    top: 68px;
    color: rgb(210, 232, 224);
    left: 20px;
    right: 20px;
    font-family: rale;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    width: 95%;
    background: rgba(20, 20, 20, .5);
    text-align: left;
    z-index: 3px;
}
.ancho-letras7{
    top: 530px;
    color: rgb(210, 232, 224);
    left: 120px;
    right: 20px;
    font-family: rale;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    width: 40%;
    background: rgba(20, 20, 20, .5);
    text-align: center;
    z-index: 3px;
}
.ancho-letras7 h1 a{
    color: red;
}
.ancho-letras3 h1 a{
    color: red;
}
.ancho-letras4 h1 a{
    color: red;
}
.ancho-letras h1:hover{
    color:blue;
}
.ancho-letras2 h1:hover{
    color:blue;
}
.ancho-letras3 h1 a:hover{
    color:blue;
}
.ancho-letras4 h1 a:hover{
    color:blue;
}
.ancho-letras5 h1:hover{
    color:blue;
}
.ancho-letras6 h1:hover{
    color:blue;
}
.ancho-letras7 h1 a:hover{
    color:blue;
}
.bienvenido1{
    padding-top: 90px;
    width: 100%;
    height: 120px;
    margin: auto;
    letter-spacing: 1px;
    font-family: alfa;    
}
.bienvenido1 p{
    color: black;
    -webkit-text-stroke: 2px rgb(237, 105, 17);
    font-size: 70px;
    font-weight: bold;
    font-family: rae;
    padding-top: 0px;
    margin: auto;
    letter-spacing: 3px;
    padding-left: 50px;
}
.bienvenido1 h1{
        font-size: 30px;
        color: rgb(237, 105, 17);
        -webkit-text-stroke: 2px  rgb(11, 11, 11);
        font-weight: bold;
        font-family: rae;
        margin: auto;
        padding-left: 0px;
}
.tabla{
        width: 100%;
        margin: auto;
        text-align: center;
        padding-top: 50px;
}
.tablax2{
    float: left;
    width: 100%;
    margin-top: 20px;
}
.tablax4{
    float: left;
    width: 25%;
    margin-top: 20px;
}
.caja-precio{
    width: 32%;
    border-radius: 2px solid rgb(11, 11, 11);
    background: rgb(237, 105, 17, 0.8);
    padding-left: 20px;
    float: left;
}
.caja-precio1{
    width: 32%;
    border-radius: 2px solid rgb(11, 11, 11);
    background: rgb(237, 105, 17, 0.8);
    float: left;
}
@font-face{
    font-family: rale;
    src:url(fuentes/Raleway-Regular.ttf);
    font-family: rae;
    src:url(fuentes/AlfaSlabOne-Regular.ttf);
}