*{
    background: url(imagenes/f3.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: rale;
    src:url(fuentes/Raleway-Regular.ttf);
}